body{
    padding: 0%;
}
header{
    background-color: pink;
    height: 80px;
    padding-top:20px ;
    text-align: center;
    font-size: 50px;
    color: blueviolet;
}
nav{
    background-color: blueviolet;
    height: 30px;
    padding-top: px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
main{
    height: 350px;
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}
footer{
    background-color:rgb(246, 44, 239);
    font-size: 50px;
    height: 80px;
    text-align: center;
    color: azure;


}